rec_to_nwb/data/header_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Argument">
		<xs:complexType>
			<xs:attribute name="flag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="value" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="AuxDisplayConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DispChannel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BenchmarkConfiguration">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Channel">
		<xs:complexType>
			<xs:attribute name="bit" use="required" type="xs:byte"/>
			<xs:attribute name="dataType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="startByte" use="required" type="xs:byte"/>
			<xs:attribute name="input" use="required" type="xs:byte"/>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="interleavedDataIDBit" type="xs:byte"/>
			<xs:attribute name="interleavedDataIDByte" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GlobalConfiguration"/>
				<xs:element ref="BenchmarkConfiguration" minOccurs="0"/>
				<xs:element ref="HardwareConfiguration"/>
				<xs:element ref="ModuleConfiguration"/>
				<xs:element ref="StreamDisplay"/>
				<xs:element ref="AuxDisplayConfiguration"/>
				<xs:element ref="SpikeConfiguration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Device">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Channel" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="available" use="required" type="xs:byte"/>
			<xs:attribute name="packetOrderPreference" use="required" type="xs:short"/>
			<xs:attribute name="numBytes" use="required" type="xs:byte"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DispChannel">
		<xs:complexType>
			<xs:attribute name="color" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maxDisp" use="required" type="xs:short"/>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="storeStates" type="xs:byte"/>
			<xs:attribute name="device" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ECU"/>
						<xs:enumeration value="headstageSensor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="analyze" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GlobalConfiguration">
		<xs:complexType>
			<xs:attribute name="realtimeMode" use="required" type="xs:byte"/>
			<xs:attribute name="filePath" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="filePrefix" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="saveDisplayedChanOnly" use="required" type="xs:byte"/>
			<xs:attribute name="fileChunkSize" type="xs:int"/>
			<xs:attribute name="headstageGyroSensorOn" type="xs:byte"/>
			<xs:attribute name="headstageSmartRefOn" type="xs:byte"/>
			<xs:attribute name="headstageSerial">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="trodesVersion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="headstageAutoSettleOn" type="xs:byte"/>
			<xs:attribute name="timestampAtCreation" type="xs:int"/>
			<xs:attribute name="systemTimeAtCreation" type="xs:long"/>
			<xs:attribute name="qtVersion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="commitHead">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="controllerSerial">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="compileDate">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="compileTime">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="controllerFirmwareVersion" type="xs:decimal"/>
			<xs:attribute name="suppressModuleAbsPathWarning" type="xs:byte"/>
			<xs:attribute name="headstageMagSensorOn" type="xs:byte"/>
			<xs:attribute name="headstageAccelSensorOn" type="xs:byte"/>
			<xs:attribute name="headstageFirmwareVersion" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="HardwareConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Device" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="samplingRate" use="required" type="xs:short"/>
			<xs:attribute name="numChannels" use="required" type="xs:short"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModuleConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SingleModuleConfiguration" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SingleModuleConfiguration">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="Argument" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="sendTrodesConfig" use="required" type="xs:byte"/>
			<xs:attribute name="moduleName" use="required" type="xs:string"/>
			<xs:attribute name="sendNetworkInfo" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpikeChannel">
		<xs:complexType>
			<xs:attribute name="hwChan" use="required" type="xs:short"/>
			<xs:attribute name="maxDisp" use="required" type="xs:short"/>
			<xs:attribute name="triggerOn" use="required" type="xs:byte"/>
			<xs:attribute name="thresh" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpikeConfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SpikeNTrode" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="categories">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SpikeNTrode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SpikeChannel" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="highFilter" use="required" type="xs:short"/>
			<xs:attribute name="refChan" use="required" type="xs:byte"/>
			<xs:attribute name="color" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="refOn" type="xs:byte"/>
			<xs:attribute name="lowFilter" use="required" type="xs:short"/>
			<xs:attribute name="LFPChan" use="required" type="xs:byte"/>
			<xs:attribute name="id" use="required" type="xs:byte"/>
			<xs:attribute name="refNTrode" type="xs:byte"/>
			<xs:attribute name="filterOn" use="required" type="xs:byte"/>
			<xs:attribute name="LFPHighFilter" use="required" type="xs:short"/>
			<xs:attribute name="moduleDataOn" use="required" type="xs:byte"/>
			<xs:attribute name="refNTrodeID" type="xs:byte"/>
			<xs:attribute name="lfpFilterOn" type="xs:byte"/>
			<xs:attribute name="lfpRefOn" type="xs:byte"/>
			<xs:attribute name="refON" type="xs:byte"/>
			<xs:attribute name="refGroup" type="xs:byte"/>
			<xs:attribute name="groupRefOn" type="xs:byte"/>
			<xs:attribute name="notchBW" type="xs:byte"/>
			<xs:attribute name="notchFreq" type="xs:byte"/>
			<xs:attribute name="notchFilterOn" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="StreamDisplay">
		<xs:complexType>
			<xs:attribute name="columns" use="required" type="xs:byte"/>
			<xs:attribute name="backgroundColor" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="pages" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
