datamigration/data/fl_lab_header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GlobalConfiguration">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="headstageSerial"/>
                <xs:attribute type="xs:byte" name="headstageSmartRefOn"/>
                <xs:attribute type="xs:byte" name="realtimeMode"/>
                <xs:attribute type="xs:byte" name="headstageAutoSettleOn"/>
                <xs:attribute type="xs:int" name="timestampAtCreation"/>
                <xs:attribute type="xs:float" name="controllerFirmwareVersion"/>
                <xs:attribute type="xs:string" name="controllerSerial"/>
                <xs:attribute type="xs:byte" name="saveDisplayedChanOnly"/>
                <xs:attribute type="xs:float" name="headstageFirmwareVersion"/>
                <xs:attribute type="xs:string" name="qtVersion"/>
                <xs:attribute type="xs:string" name="compileDate"/>
                <xs:attribute type="xs:time" name="compileTime"/>
                <xs:attribute type="xs:string" name="filePrefix"/>
                <xs:attribute type="xs:byte" name="headstageGyroSensorOn"/>
                <xs:attribute type="xs:byte" name="headstageMagSensorOn"/>
                <xs:attribute type="xs:string" name="trodesVersion"/>
                <xs:attribute type="xs:byte" name="headstageAccelSensorOn"/>
                <xs:attribute type="xs:string" name="commitHead"/>
                <xs:attribute type="xs:string" name="filePath"/>
                <xs:attribute type="xs:long" name="systemTimeAtCreation"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="HardwareConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Device" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="Channel" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                            <xs:attribute type="xs:byte" name="startByte" use="optional"/>
                            <xs:attribute type="xs:byte" name="bit" use="optional"/>
                            <xs:attribute type="xs:byte" name="input" use="optional"/>
                            <xs:attribute type="xs:string" name="dataType" use="optional"/>
                            <xs:attribute type="xs:byte" name="interleavedDataIDBit" use="optional"/>
                            <xs:attribute type="xs:byte" name="interleavedDataIDByte" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="numBytes" use="optional"/>
                  <xs:attribute type="xs:byte" name="available" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:short" name="packetOrderPreference" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="samplingRate"/>
            <xs:attribute type="xs:short" name="numChannels"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="ModuleConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SingleModuleConfiguration" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Argument" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="flag" use="optional"/>
                            <xs:attribute type="xs:string" name="value" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="sendTrodesConfig" use="optional"/>
                  <xs:attribute type="xs:string" name="moduleName" use="optional"/>
                  <xs:attribute type="xs:byte" name="sendNetworkInfo" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StreamDisplay">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="backgroundColor"/>
                <xs:attribute type="xs:byte" name="columns"/>
                <xs:attribute type="xs:byte" name="pages"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="AuxDisplayConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DispChannel" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="analyze" use="optional"/>
                      <xs:attribute type="xs:short" name="maxDisp" use="optional"/>
                      <xs:attribute type="xs:string" name="color" use="optional"/>
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="device" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SpikeConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SpikeNTrode" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SpikeChannel" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:byte" name="hwChan" use="optional"/>
                            <xs:attribute type="xs:short" name="maxDisp" use="optional"/>
                            <xs:attribute type="xs:byte" name="thresh" use="optional"/>
                            <xs:attribute type="xs:byte" name="triggerOn" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="lowFilter" use="optional"/>
                  <xs:attribute type="xs:byte" name="LFPChan" use="optional"/>
                  <xs:attribute type="xs:byte" name="lfpFilterOn" use="optional"/>
                  <xs:attribute type="xs:byte" name="refGroup" use="optional"/>
                  <xs:attribute type="xs:byte" name="groupRefOn" use="optional"/>
                  <xs:attribute type="xs:short" name="LFPHighFilter" use="optional"/>
                  <xs:attribute type="xs:short" name="highFilter" use="optional"/>
                  <xs:attribute type="xs:string" name="color" use="optional"/>
                  <xs:attribute type="xs:byte" name="refChan" use="optional"/>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:byte" name="lfpRefOn" use="optional"/>
                  <xs:attribute type="xs:byte" name="filterOn" use="optional"/>
                  <xs:attribute type="xs:byte" name="refOn" use="optional"/>
                  <xs:attribute type="xs:byte" name="moduleDataOn" use="optional"/>
                  <xs:attribute type="xs:byte" name="refNTrodeID" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="categories"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
