fl/data/reconfig_header.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="GlobalConfiguration">
          <xs:complexType>
            <xs:attribute name="suppressModuleAbsPathWarning" type="xs:unsignedByte" />
            <xs:attribute name="headstageAccelSensorOn" type="xs:unsignedByte" use="required" />
            <xs:attribute name="fileChunkSize" type="xs:byte"/>
            <xs:attribute name="headstageFirmwareVersion" type="xs:decimal" use="required" />
            <xs:attribute name="commitHead" type="xs:string" use="required" />
            <xs:attribute name="headstageSerial" type="xs:string" use="required" />
            <xs:attribute name="systemTimeAtCreation" type="xs:unsignedLong" use="required" />
            <xs:attribute name="saveDisplayedChanOnly" type="xs:unsignedByte" use="required" />
            <xs:attribute name="headstageSmartRefOn" type="xs:unsignedByte" use="required" />
            <xs:attribute name="compileTime" type="xs:time" use="required" />
            <xs:attribute name="timestampAtCreation" type="xs:unsignedInt" use="required" />
            <xs:attribute name="controllerFirmwareVersion" type="xs:decimal" use="required" />
            <xs:attribute name="compileDate" type="xs:string" use="required" />
            <xs:attribute name="headstageAutoSettleOn" type="xs:unsignedByte" use="required" />
            <xs:attribute name="headstageMagSensorOn" type="xs:unsignedByte" use="required" />
            <xs:attribute name="qtVersion" type="xs:string" use="required" />
            <xs:attribute name="controllerSerial" type="xs:string" use="required" />
            <xs:attribute name="headstageGyroSensorOn" type="xs:unsignedByte" use="required" />
            <xs:attribute name="realtimeMode" type="xs:unsignedByte" use="required" />
            <xs:attribute name="filePath" type="xs:string" use="required" />
            <xs:attribute name="filePrefix" type="xs:string" use="required" />
            <xs:attribute name="trodesVersion" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="BenchmarkConfiguration" minOccurs="0"/>
        <xs:element name="HardwareConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Device">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="Channel">
                      <xs:complexType>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="bit" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="input" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="dataType" type="xs:string" use="required" />
                        <xs:attribute name="startByte" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="interleavedDataIDBit" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="interleavedDataIDByte" type="xs:unsignedByte" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="packetOrderPreference" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="numBytes" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="available" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="samplingRate" type="xs:unsignedShort" use="required" />
            <xs:attribute name="numChannels" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="ModuleConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="SingleModuleConfiguration">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="Argument">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                        <xs:attribute name="flag" type="xs:byte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="sendNetworkInfo" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="moduleName" type="xs:string" use="required" />
                  <xs:attribute name="sendTrodesConfig" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StreamDisplay">
          <xs:complexType>
            <xs:attribute name="columns" type="xs:unsignedByte" use="required" />
            <xs:attribute name="pages" type="xs:unsignedByte" use="required" />
            <xs:attribute name="backgroundColor" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="AuxDisplayConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="DispChannel">
                <xs:complexType>
                  <xs:attribute name="maxDisp" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="color" type="xs:string" use="required" />
                  <xs:attribute name="analyze" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="device" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SpikeConfiguration">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="SpikeNTrode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="SpikeChannel">
                      <xs:complexType>
                        <xs:attribute name="maxDisp" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="thresh" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="triggerOn" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="hwChan" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="filterOn" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="refOn" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="refNTrodeID" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="highFilter" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="refGroup" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="lfpRefOn" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="moduleDataOn" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="color" type="xs:string" use="required" />
                  <xs:attribute name="LFPHighFilter" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="lowFilter" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="lfpFilterOn" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="refChan" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="LFPChan" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="groupRefOn" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="categories" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>